.profile {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00d0ff;
    box-shadow: 0 0 15px #00d0ff, 0 0 30px #0088ff;
    transition: 0.3s ease;
}

.img:hover {
    transform: scale(1.07);
    box-shadow:
            0 0 20px #4be9ff,
            0 0 40px #00d0ff,
            0 0 60px #0088ff;
}
