.info {
    margin-top: 60px;
    padding: 40px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    color: white;
}

.info h2 {
    font-size: 2rem;
    color: #00d0ff;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
}




.info ul {
    list-style-type: none;
    padding: 0;
    background: rgba(0, 0, 0, 0.3);
    border-right: 3px solid #00d0ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 208, 255, 0.1);
}

.info li {
    font-size: 1.1rem;
    line-height: 2.2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
}

.info li:last-child {
    border-bottom: none;
}