.home {
    margin-top: 65px;
    text-align: center;
    color: #e6f1ff;
}

.box {
    margin-top: 40px;
    font-size: 22px;
    background: rgba(0,0,0,0.35);
    display: inline-block;
    padding: 25px 40px;
    border-radius: 20px;
    box-shadow: 0 0 25px #00d0ff;
}

.box h2 {
    color: #00d0ff;
    text-shadow: 0 0 15px #00d0ff;
    margin-bottom: 15px;
}

.box ul {
    list-style: none;
    padding: 0;
}
