.skillsContainer {
    padding: 50px 20px;
    text-align: center;
    color: white;
    margin-top: 60px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #00d0ff;
    text-shadow: 0 0 15px rgba(0, 208, 255, 0.5);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px 10px;
    transition: all 0.3s ease;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 4rem;
    margin-bottom: 15px;
    color: #cccccc;
    transition: 0.3s;
}

.name {
    font-size: 1.2rem;
    margin: 0;
    color: #e0e0e0;
}


.card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.1);
    border-color: var(--hover-color);
    box-shadow: 0 0 20px var(--hover-color);
}

.card:hover .icon {
    color: var(--hover-color);
    transform: scale(1.1);
}