.WebsiteBody{
    margin-right: 35px;
    text-align: right;
}
.WebsiteBody h3{
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    display: inline-block;

}