.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 3rem;
    color: #00d0ff;
    text-shadow:
            0 0 10px #00d0ff,
            0 0 20px #0091ff,
            0 0 40px #0091ff;
    padding-bottom: 6px;
    display: inline-block;
    border-bottom: none;
}