@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #050c1d;
  transition: direction 0.3s ease;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center-text {
  text-align: center;
}

p, li, span, a {
  text-align: start;
}

/* כותרות יקבלו יישור רק אם לא הוגדר להן אחרת */
h1, h2, h3, h4, h5, h6 {
  /* מחקנו את text-align מכאן כדי לא לדרוס את המרכוז */
}