@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;900&display=swap');
body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #050c1d;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
